<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Sehat Vault AI</title>
</head>

<body class="bg-light">

    <div class="container mt-5">

        <div class="card shadow p-5">

            <h1 class="text-center text-primary">

                🏥 Sehat Vault AI

            </h1>

            <p class="text-center">

                AI Powered Medical Report Analyzer

            </p>

            <hr>

            <!-- <form>  -->
            <form action="/upload" method="POST" enctype="multipart/form-data">

                <div class="mb-3">

                    <label class="form-label">

                        Upload Medical Report

                    </label>

                    <input type="file" class="form-control" name="report" required>

                </div>

                <button type="submit" class="btn btn-primary">Analyze Report</button>

            </form>
        </div>
    </div>

</body>

</html>